# Скопируйте в .env и при необходимости переопределите локально в .env.local

APP_ENV=dev
APP_SECRET=change-me

DEFAULT_URI=https://апи.хануманфест.рф

DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0&charset=utf8mb4"

###> Hanuman Fest domains ###
APP_URL="https://апи.хануманфест.рф"
FRONTEND_URL="https://хануманфест.рф"
CORS_ALLOW_ORIGIN="https://хануманфест.рф,http://localhost:8080"
###< Hanuman Fest domains ###

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
GOOGLE_SHEETS_WEBHOOK_URL=
SCHEDULE_SHEET_URL=https://docs.google.com/spreadsheets/d/1i7rRY7WpoY-3TUyeInP2vRYXiEkIHOOV16hIigPrNFI/export?format=csv&gid=319789815

MAILER_DSN=null://null
MAILER_FROM="noreply@hanumanfest.ru"
MAILER_FROM_NAME="Hanuman Fest"

ADMIN_PASSWORD_HASH=
